.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: visible;
  scroll-snap-type: y mandatory;
}
